button{
    width: 250PX;
    height: 80PX;
    font-family: roboto, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;

}

button:hover{
background-color: blue;

}
.boton-click{
    background-color: green;
}
.boton-reiniciar{
    background-color: violet;
}